* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/* ========== Nate's Styles ========== */

.main-content {
    padding: 25px 0;
}

.main-content--home {
    min-height: calc(100vh - 329px);
}

.main-content--initials {
    min-height: calc(100vh - 415px);
}

.order-list {
    padding-bottom: 10px;
}

/* Menu */
.menu-item,
.basket-item {
    padding: 5px 0;
}

.food-item-label {
    padding: 5px 0;
}

.order-quantity {
    padding: 0 5px;
}

/* Buttons */
.order-add {
    margin-top: 10px;
}

.input-buttons {
    padding: 5px 0;
}

.back-button {
    margin-right: 10px;
}

/* Icons */
.order-add .fa,
.back-button .fa,
.full-order .fa {
    margin-right: 6px;
}

.to-order .fa,
.finish-order .fa,
.confirm-order .fa {
    margin-left: 6px;
}

/* Other */
.message {
    margin: 25px 0 0;
    max-width: 500px;
    padding-bottom: 25px;
    width: 95%;
}